<%- include('../layouts/header.ejs')%>
 <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= userData.name %><h5>
              <p class="text-muted mb-1"><%= userData.email %></p>
              <p class="text-muted mb-4"><%= userData.mobile %></p>
              <p class="text-muted mb-4"> Wallet balance<%= userData.wallet %></p>
              <div class="d-flex justify-content-center mb-2">
                
            <a href="/userEdit">    <button type="button" class="btn btn-outline-primary ms-1">Edit profile</button></a>
            <a href="/manageAddress">    <button type="button" class="btn btn-outline-primary ms-1">Manage Address</button></a>
              </div>
            </div>
          </div>
         
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="mb-0">Full Name : <%= userData.name%></p>
                </div>
             
              </div>
              <hr>
              <div class="row">
                <div class="col-12">
                  <p class="mb-0">Email : <%=userData.email%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-12">
                  <p class="mb-0">Phone : <%=userData.mobile %></p>
                </div>
              </div>
              <hr>
              <%if (userData.Address.length > 0){%>
              <div class="row">
                <div class="col-12">
                  <p class="mb-0">Address : <%=userData.Address[0].address %></p>
                </div>
               
              </div>
             <hr>
             <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Postcode : <%=userData.Address[0].postCode %></p>
                </div>
              
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">City : <%=userData.Address[0].city%></p>
                </div>
            
            </div>
            <hr>
            <%}%>
        
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../layouts/footer.ejs')%>